<!DOCTYPE html>
<html>
  <%- include ../partials/head %>
  <body>
    <%- include('../partials/header') %>

    <main class="site-page">
      <div id="categories-page" class="g-body">
        <div class="g-main-content">
          <h1 class="headline"><%= title %></h1>
          <% if (locals.content) { %>
            <%- content %>
          <% } %>
          <% if  (locals.children && children.length) { %>
            <%- include('../partials/childrenList', {
              children,
              kicker: template('folder.childrenList.kicker', title)
            }) %>
          <% } %>
        </div>

        <%- include('../partials/footer', {
          pageType: 'document',
          topLevelFolder: url.split('/')[1]
        }) %>
      </div>
    </main>
  </body>
</html>
