<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: template('landing.viewAll')}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: template('landing.viewAll')}) %>

    <div class="g-upper-body">
    <%- include('../partials/nav') %>
    </div>

    <div id="about-page" class="g-body">
      <div class="g-main-content">
        <% if (locals.content) { %>
          <%- locals.content %>
        <% } %>
      </div>
      <script> seeMoreButton() </script>
      <%- include('../partials/footer', { pageType: 'category_index' }) %>
    </div>
  </body>
</html>
