<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: template('branding.prettyName')}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title: template('branding.name')}) %>

    <main class="site-page">
      <div id="main-search-page">
        <% if (locals.sideNav && locals.sideNav.length) { %>
          <% locals.sideNav.forEach((item) => { %>
            <% if (item.children && item.children.length) { %>
              <a href="<%- item.path %>"><%- item.prettyName %></a>

              <% item.children.forEach((child) => { %>
                <a href="<%- child.url %>"><%- child.name %></a>
              <%  }) %>
            <% } %>
          <%  }) %>
        <% } %>

        <div class="main-item">
          <%- include('../partials/branding', {context: 'home'}) %>
          <div class="tagline">
            <p><%- template('landing.tagline') %></p>
          </div>
          <%- include('../partials/search', {style: 'homepage', focus: 'autofocus', msgOnFocus: template('search.placeholder')}) %>

          <% if (locals.content) { %>
            <%- locals.content %>
          <% } %>
        </div>
        <%- include('../partials/footer', {style: 'homepage', pageType: 'homepage'}) %>
      </div>
    </main>
  </body>
</html>
