<!DOCTYPE html>
<html>
  <%- include ../partials/head %>
  <body>
    <%- include('../partials/header') %>

    <main id="categories-page" class="site-page">
      <div class="page-inner">
        <div class="page-width">
          <div class="content__width g-upper-body">
            <h1 class="headline">Brigham and Women’s Hospital COVID-19 Critical Care Clinical Guidelines</h1>
          </div>
          <div class="g-body">
            <div class="g-main-content">
              <div class="content__width">
                <%- include('../partials/search', {
                  style: 'homepage',
                  focus: 'autofocus',
                  msgOnFocus: template('search.placeholder')
                }) %>

                <% if (locals.content) { %>
                  <%- content %> <% } %>

                  <% if (locals.children && children.length) { %>
                    <%- include('../partials/childrenList', {
                      children, kicker:
                      template('folder.childrenList.kicker', title)
                    }) %>
                  <% } %>
              </div>
            </div>

            <%- include('../partials/footer', {
              pageType: 'document',
              topLevelFolder: url.split('/')[1]
            }) %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
