<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: template('search.results.title',
  locals.q)}) %>
  <body>
    <%- include('../partials/header', {parentLinks: [], title:
    template('search.results.title', locals.q)}) %>

    <main class="site-page site-page--search">
      <div id="search-page" class="g-body">
        <div class="page-inner">
          <div class="page-width">
            <div class="content__width g-upper-body">
              <%- include ../partials/search %> <% if (locals.results &&
              results.length) { %>
            </div>
            <div class="g-main-content">
              <h3 class="search-kicker">
                <%- template('search.results.kicker', locals.q) %>
              </h3>
              <% results.forEach((res) => { %>
              <div class="search-result">
                <h3><a href="<%= res.path %>"><%= res.prettyName %></a></h3>
                <p>
                  <% if (res.folder) { %> <%-
                  template('search.results.label.folder', res.folder.path,
                  res.folder.prettyName || 'Home')%>&nbsp; <% } %> <% if
                  (res.lastModifyingUser && res.lastModifyingUser.displayName) {
                  %> <%- template('search.results.label.person',
                  res.lastModifyingUser.displayName) %> <% } %> <%=
                  res.lastUpdated %>
                </p>
              </div>
              <% }) %> <% } else { %>
              <h3 class="search-kicker">
                <%- template('search.results.none.kicker', locals.q) %>
              </h3>
              <p><%- template('search.results.none.suggestion') %></p>
              <% } %>
            </div>

            <%- include('../partials/footer', { pageType: 'search' }) %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
