<% var style = locals.style === 'homepage' ? 'main-item main-item--bottom' :
'g-footer' %>
<div class="<%= style %>">
  <p class="help-text">
    <%- template('footer.helpText') %>
    <a href="mailto:<%- template('footer.defaultEmail') %>"
      ><%- template('footer.defaultEmail') %></a
    >
  </p>
</div>
<script>
  // Google Analytics tracking
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  <% if (process.env.GA_TRACKING_ID) { %>
  ga('create', '<%= process.env.GA_TRACKING_ID %>', 'auto');
  <% } %>

  <% if(locals.pageType) { %>
    ga('set', 'contentGroup1', <%- JSON.stringify(locals.pageType) %>);
  <% } %>

  <% if(locals.topLevelFolder) { %>
    ga('set', 'contentGroup2', <%- JSON.stringify(locals.topLevelFolder) %>);
  <% } %>

  ga('send', 'pageview');

  $(document).on('click', '#edit-button', function () {
    $.ajax({
      method: 'GET',
      url: window.location.pathname,
      data: {
        edit: 1, // purge and keep out of cache temporarily
      }
    }) // no callback on this.
  })
</script>
