<div class="custom-header custom-header--has-sidebar">
  <span class="visually-hidden"><%- template('branding.org') %></span>
  <img src=<%- template('branding.logo') %> class="custom-header__logo" alt="<%- template('branding.org') %>">

  <nav>
    <% if (locals.topNav && locals.topNav.length) { %>
      <% locals.topNav.forEach((item) => { %>
        <% if (item.prettyName === 'Homepage') { %>
          <a href="/">Home</a>
        <% } else { %>
          <a href="<%- item.path %>"><%- item.prettyName %></a>
        <% } %>
      <%  }) %>
    <% } %>
  </nav>
</div>